/* add your CSS here */
h1{
  color:white;
  text-align: center;
  font-size:45px;
  font-weight:500;
}

body{
  
 background-image:url("https://s26.postimg.org/wydrh6oll/491323.jpg");
  background-repeat:no-repeat;
  background-size:cover;
}

h3{
	/*header*/
	font-family: 'Butcherman',cursive;
	font-size: 40px;
  font-weight:bold;
}
.container {
    position: relative;
    width: 50%;
     border: 1px solid #D3D3D3;
    width: 300px;
    padding: 15px;
    box-shadow: 5px 5px 0px 0px rgb(228, 228, 228);
}
.container:hover .overlay {
  transform: scale(1)
}
.image {
  opacity: 1;
  display: block;
  width: 300px;
    height: auto;
    border-radius: 8px;
  transition: .5s ease;
  backface-visibility: hidden;
  
}
.overlay {
  position: absolute;
    left: 15px;
  right: 15px;
  top:15%;
  background-color: gray;
  overflow: hidden;
 width: 300px;
    height: 300px;
    border-radius: 5px;
  -webkit-transform:scale(0);
  transition: .3s ease;
}


.panda {
  color: white;
  font-size: 20px;
  position: relative;
  top: 50%;
  left: 50%;
   border-radius: 8px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
#Panda-Info{
	border: 1px solid #D3D3D3;
    width: 290px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5% 0;
}
.Fun-fact{
	font-style: italic;
 }
#Panda-fact{
	text-align: left;
    padding: 10px;
}
.animal-fact-item

{
    font-style: italic;
    list-style: none;
}

.animal-facts-label

{
    font-style: normal;
    font-weight: bold;
}
